@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.vue-typer {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.vue-typer .custom.char.typed {
  // color: #607D8B;
  // color: #195190ff;
  font-weight: 700;
  // font-size: 30px;
  // line-height: 70px;
  background: -webkit-linear-gradient(
    -66deg,
    #195190ff 10%,
    var(--active) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: transparent;
}
.vue-typer .custom.char.selected {
  // color: #607D8B;
  color: var(--secondaryColor);
  font-weight: 700;
  background-color: var(--primaryColor);
  // text-decoration: line-through;
}

.vue-typer .custom.caret {
  // display: none;
  color: var(--primaryColor);
}
